## Overview

Today I will talk about some basic functions and usage for `Python`, `Numpy` and `Pandas` which are popular tools for a wide range of applications. The goal for today's lab is to provide an overview get you familiarized with some of most basic usages due to time limit. For more in-depth understanding and functionalities, there are many great resources. Some contents for this lab is adpated from the ISLP (introduction to statistical learning in Python [https://github.com/intro-stat-learning/ISLP_labs/blob/stable/Ch02-statlearn-lab.ipynb](https://github.com/intro-stat-learning/ISLP_labs/blob/stable/Ch02-statlearn-lab.ipynb)). I will share this notebook on Canvas after class.

# 1. Introduction to Python

`Python` tutorial: [docs.python.org/3/tutorial/](https://docs.python.org/3/tutorial/).

## 1.1 Comments

Comments in Python start with the **#** symbol and are used to explain code or make notes. Comments are ignored by the Python interpreter.

In [20]:
# This is a comment
print("hello")

hello

## 1.2 Variables

Variables are used to store data. In Python, you donâ€™t need to declare the data type of a variable explicitly. Python will automatically infer the data type based on the value assigned to the variable.

In [22]:
a = 10 
a

10

## 1.3 Data types

Python supports various data types, including integers, floats, strings, lists, tuples, dictionaries, and more.

Integers: Whole numbers without decimals. \
Floats: Numbers with decimals. \
Strings: Text enclosed in single or double quotes. \
Lists: Ordered collections of items. \
Tuples: Immutable collections of items. \
Dictionaries: Key-value pairs.

In [27]:
list_1 = [1, "A", True]
list_1[0]
list_1[:2]
list_1.append(2)

In [28]:
tup = (0, 1)
tup.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [30]:
set_1 = {1, 2, 3, 1}
set_1

{1, 2, 3}

In [34]:
dict_1 = {"a": 1, 
         "b": 2}
dict_1.keys()
dict_1.values()
dict_1["a"]

1

## 1.4 Indentation

Python uses indentation to define blocks of code, such as loops and functions. Use four spaces for indentation. Incorrect indentation can lead to syntax errors.

In [35]:
def greet(name):
print("hello", "name")

IndentationError: expected an indented block after function definition on line 1 (2551259297.py, line 2)

## 1.5 Operators

Python supports various operators, including arithmetic, comparison, logical, and assignment operators.

Arithmetic operators: +, -, *, /, %, ** (exponentiation), // (floor division). \
Comparison operators: ==, !=, <, >, <=, >=.  \
Logical operators: and, or, not. \
Assignment operators: =, +=, -=, *=, /=, %=, **=, //=. \
Bitwise operators: &, |, ^, ~, <<, >>. \
Strings: Strings can be enclosed in single or double quotes. You can use the + operator to concatenate strings.

In [ ]:
a = 0 
a = a + 1
a *= 1

## 1.6 Control flow

Python supports various control flow structures, such as if-else statements, loops, and more.

### 1.6.1 if-esle statement

### 1.6.2 for loops

for var in iterable:    # statements

### 1.6.3 while loops

while expression:
    statement(s)

## 1.7 Functions

Functions are blocks of code that perform a specific task. You can define your own functions using the def keyword.

# 2. Numpy

The `numpy` *library*, or *package* is widely used in the field of machine learning and data science. A package is a collection of modules that are not necessarily included in the base `Python` distribution. The name `numpy` is an abbreviation for *numerical Python*.

To access `numpy`, we must first `import` it. In the previous line, we named the `numpy` *module* `np`; an abbreviation for easier referencing.

In `numpy`, an *array* is a generic term for a multidimensional set of numbers. The *ndarray* is at the core of the Numpy package.

In [37]:
import numpy as np

### 2.1 Array creation
The simpliest way to create an array is from Python list. We use the `np.array()` function to define `x` and `y`, which are one-dimensional arrays, i.e. vectors.

In [41]:
x = np.array([1, 2, 3])
y = np.array([4, 5, 6])

We could also create an array using the `np.arange()` function.

In [42]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In `numpy`, matrices are typically represented as two-dimensional arrays, and vectors as one-dimensional arrays. {It is also possible to create matrices using  `np.matrix()`.}
We can create a two-dimensional array as follows.

In [44]:
x = np.array([[1,2], [3,4]])
x

array([[1, 2],
       [3, 4]])

The object `x` has several 
*attributes*, or associated objects. To access an attribute of `x`, we type `x.attribute`, where we replace `attribute`
with the name of the attribute. 
For instance, we can access the `ndim` attribute of  `x` as follows.

In [47]:
x.ndim
x.shape
x.dtype

dtype('int64')

### 2.2 Basic operations
Arithmetic operators on arrays apply *elementwise*. A new array is created and filled with the result.

In [53]:
a = np.array([1,2,3,4])
b = np.arange(4)
a - b

array([1, 1, 1, 1])

A *method* is a function that is associated with an
object. 
For instance, given an array `x`, the expression
`x.sum()` sums all of its elements, using the `sum()`
method for arrays. 
The call `x.sum()` automatically provides `x` as the
first argument to its `sum()` method.

In [54]:
a.sum()

10

We could also sum the elements of `x` by passing in `x` as an argument to the `np.sum()` function.

In [55]:
np.sum(a)

10

 As another example, the
`reshape()` method returns a new array with the same elements as
`x`, but a different shape.
 We do this by passing in a `tuple` in our call to
 `reshape()`, in this case `(2, 3)`.  This tuple specifies that we would like to create a two-dimensional array with 
$2$ rows and $3$ columns. {Like lists, tuples represent a sequence of objects. Why do we need more than one way to create a sequence? There are a few differences between tuples and lists, but perhaps the most important is that elements of a tuple cannot be modified, whereas elements of a list can be.}

In [57]:
a = np.array([1,2,3,4,5,6])
a.reshape((2,3))

array([[1, 2, 3],
       [4, 5, 6]])

The previous output reveals that `numpy` arrays are specified as a sequence
of *rows*. This is  called *row-major ordering*, as opposed to *column-major ordering*. 

`Python` (and hence `numpy`) uses 0-based
indexing. This means that to access the top left element of `x_reshape`, 
we type in `x_reshape[0,0]`.

In [58]:
a.reshape((2,3))[0,0]

1

### break out exercise

Take 2-3 minutes to creat arrays and look at its shape. Test out the built-in functions and see the attributes. You can go to Numpy's helper\
page to look at a comprehensive list of functions and attributes.

### 2.3 generate random values 
The `np.random.normal()`  function generates a vector of random
normal variables. The function's arguments are  `loc`, `scale`, and `size`. These are *keyword* arguments, which means that when they are passed into the function, they can be referred to by name (in any order). {`Python` also uses *positional* arguments. Positional arguments do not need to use a keyword. To see an example, type in `np.sum?`. We see that `a` is a positional argument, i.e. this function assumes that the first unnamed argument that it receives is the array to be summed. By contrast, `axis` and `dtype` are keyword arguments: the position in which these arguments are entered into `np.sum()` does not matter.}
 By default, this function will generate random normal variable(s) with mean (`loc`) $0$ and standard deviation (`scale`) $1$; furthermore, 
 a single random variable will be generated unless the argument to `size` is changed. 

We now generate 50 independent random variables from a $N(0,1)$ distribution.

In [69]:
np.random.normal?

Docstring:
normal(loc=0.0, scale=1.0, size=None)

Draw random samples from a normal (Gaussian) distribution.

The probability density function of the normal distribution, first
derived by De Moivre and 200 years later by both Gauss and Laplace
independently [2]_, is often called the bell curve because of
its characteristic shape (see the example below).

The normal distributions occurs often in nature.  For example, it
describes the commonly occurring distribution of samples influenced
by a large number of tiny, random disturbances, each with its own
unique distribution [2]_.

.. note::
    New code should use the ``normal`` method of a ``default_rng()``
    instance instead; please see the :ref:`random-quick-start`.

Parameters
----------
loc : float or array_like of floats
    Mean ("centre") of the distribution.
scale : float or array_like of floats
    Standard deviation (spread or "width") of the distribution. Must be
    non-negative.
size : int or tuple of ints, optional
    Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
    ``m * n * k`` samples are drawn.  If size is ``None`` (default),
    a single value is returned if ``loc`` and ``scale`` are both scalars.
    Otherwise, ``np.broadcast(loc, scale).size`` samples are drawn.

Returns
-------
out : ndarray or scalar
    Drawn samples from the parameterized normal distribution.

See Also
--------
scipy.stats.norm : probability density function, distribution or
    cumulative density function, etc.
random.Generator.normal: which should be used for new code.

Notes
-----
The probability density for the Gaussian distribution is

.. math:: p(x) = \frac{1}{\sqrt{ 2 \pi \sigma^2 }}
                 e^{ - \frac{ (x - \mu)^2 } {2 \sigma^2} },

where :math:`\mu` is the mean and :math:`\sigma` the standard
deviation. The square of the standard deviation, :math:`\sigma^2`,
is called the variance.

The function has its peak at the mean, and its "spread" increases with
the standard deviation (the function reaches 0.607 times its maximum at
:math:`x + \sigma` and :math:`x - \sigma` [2]_).  This implies that
normal is more likely to return samples lying close to the mean, rather
than those far away.

References
----------
.. [1] Wikipedia, "Normal distribution",
       https://en.wikipedia.org/wiki/Normal_distribution
.. [2] P. R. Peebles Jr., "Central Limit Theorem" in "Probability,
       Random Variables and Random Signal Principles", 4th ed., 2001,
       pp. 51, 51, 125.

Examples
--------
Draw samples from the distribution:

>>> mu, sigma = 0, 0.1 # mean and standard deviation
>>> s = np.random.normal(mu, sigma, 1000)

Verify the mean and the variance:

>>> abs(mu - np.mean(s))
0.0  # may vary

>>> abs(sigma - np.std(s, ddof=1))
0.1  # may vary

Display the histogram of the samples, along with
the probability density function:

>>> import matplotlib.pyplot as plt
>>> count, bins, ignored = plt.hist(s, 30, density=True)
>>> plt.plot(bins, 1/(sigma * np.sqrt(2 * np.pi)) *
...                np.exp( - (bins - mu)**2 / (2 * sigma**2) ),
...          linewidth=2, color='r')
>>> plt.show()

Two-by-four array of samples from N(3, 6.25):

>>> np.random.normal(3, 2.5, size=(2, 4))
array([[-4.49401501,  4.00950034, -1.81814867,  7.29718677],   # random
       [ 0.39924804,  4.68456316,  4.99394529,  4.84057254]])  # random
Type:      builtin_function_or_method

In [60]:
a = np.random.normal(size=50)

In [61]:
np.mean(a)

-0.06964949261835635

In [62]:
np.var(a)

0.6819225079951642

### Slicing and Indexing

Slice notation is used to index sequences such as lists, tuples and arrays.
Suppose we want to retrieve the fourth through sixth (inclusive) entries
of a string. We obtain a slice of the string using the indexing  notation  `[3:6]`.

In [63]:
"hello world"[3:6]

'lo '

### Indexing Rows, Columns, and Submatrices
To select multiple rows at a time, we can pass in a *list*
specifying our selection. For instance, `[1,3]` will retrieve the second and fourth rows:

In [68]:
# Let's first create an 4 by 4 matrix 
A = np.arange(16).reshape((4,4))
A

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

To select the first and third *columns*, we pass in  `[0,2]` as the second argument in the square brackets.
In this case we need to supply the first argument `:` 
which selects all rows.

In [69]:
A[:,[3]]

array([[ 0,  2],
       [ 4,  6],
       [ 8, 10],
       [12, 14]])

### Indexing Submatrices

Now, suppose that we want to select the submatrix made up of the second and fourth 
rows as well as the first and third columns. This is where
indexing gets slightly tricky. It is natural to try  to use lists to retrieve the rows and columns:

In [70]:
A[[0,3],[0,2]]

array([ 0, 14])

We can see what has gone wrong here. When supplied with two indexing lists, the `numpy` interpretation is that these provide pairs of $i,j$ indices for a series of entries. That is why the pair of lists must have the same length. However, that was not our intent, since we are looking for a submatrix.

One easy way to do this is as follows. We first create a submatrix by subsetting the rows of `A`, and then on the fly we make a further submatrix by subsetting its columns.

In [72]:
A[[0,3]][:,[0,2]]

array([[ 0,  2],
       [12, 14]])

There are more efficient ways of achieving the same result.

The *convenience function* `np.ix_()` allows us  to extract a submatrix
using lists, by creating an intermediate *mesh* object.

In [74]:
idx = np.ix_([1,3], [0,2,3])
A[idx]

array([[ 4,  6,  7],
       [12, 14, 15]])

Alternatively, we can subset matrices efficiently using slices.
  
The slice
`1:4:2` captures the second and fourth items of a sequence, while the slice `0:3:2` captures
the first and third items (the third element in a slice sequence is the step size).

In [75]:
A[1:4:2, 0:3:2]

array([[ 4,  6],
       [12, 14]])

### Boolean indexing

In `numpy`, a *Boolean* is a type  that equals either   `True` or  `False` (also represented as $1$ and $0$, respectively).
The next line creates a vector of $0$'s, represented as Booleans, of length equal to the first dimension of `A`.

In [78]:
keep_rows = np.zeros(4, bool)
keep_rows

array([False, False, False, False])

`keep_rows` retrieves the second and fourth rows  of `A` --- i.e. the rows for which the Boolean equals `TRUE`.

In [80]:
keep_rows[[1,3]] = True 
keep_rows

array([False,  True, False,  True])

We again make use of the `np.ix_()` function
 to create a mesh containing the second and fourth rows, and the first,  third, and fourth columns. This time, we apply the function to Booleans,
 rather than lists.

In [82]:
idx_bool = np.ix_(keep_rows, [0,2,3])
A[idx_bool]

array([[ 4,  6,  7],
       [12, 14, 15]])

We can also mix a list with an array of Booleans in the arguments to `np.ix_()`:

# 3. Pandas

In [84]:
# first import the pandas package 
import pandas as pd

### 3.1 Viewing the data

In [85]:
# load the data from the ISLP website

# URL of the CSV file
url = 'https://raw.githubusercontent.com/intro-stat-learning/ISLP_labs/stable/Auto.csv'

# Load the dataset into a pandas DataFrame
Auto = pd.read_csv(url)

In [86]:
# Look at the first few rows of the data set 
Auto.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [87]:
# Look at the last few rows of the data set 
Auto.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
387,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
388,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
389,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
390,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
391,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [88]:
# get the summary statistics for the data 
Auto.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,23.445918,5.471939,194.411990,104.469388,2977.584184,15.541327,75.979592,1.576531
std,7.805007,1.705783,104.644004,38.491160,849.402560,2.758864,3.683737,0.805518
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.000000,4.000000,105.000000,75.000000,2225.250000,13.775000,73.000000,1.000000
50%,22.750000,4.000000,151.000000,93.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,275.750000,126.000000,3614.750000,17.025000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [89]:
# get data description 
Auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   year          392 non-null    int64
 7   origin        392 non-null    int64
 8   name          392 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 27.7+ KB

The `Auto.shape`  attribute tells us that the data has 392
observations, or rows, and nine variables, or columns.

In [90]:
# get the shape of the data
Auto.shape

(392, 9)

### 3.2 Selection

We can use `Auto.columns`  to check the variable names.

In [91]:
# Look at the columns of the data set 
Auto.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin', 'name'],
      dtype='object')

Accessing the rows and columns of a data frame is similar, but not identical, to accessing the rows and columns of an array. 
Recall that the first argument to the `[]` method
is always applied to the rows of the array.  
Similarly, 
passing in a slice to the `[]` method creates a data frame whose *rows* are determined by the slice:

In [92]:
# select rows by slicing 
Auto[:3]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite

Similarly, an array of Booleans can be used to subset the rows:

In [96]:
# select rows by Booleans 
idx_80 = Auto['year'] > 80
Auto[idx_80];

However, if we pass  in a list of strings to the `[]` method, then we obtain a data frame containing the corresponding set of *columns*.

In [98]:
# select multiple columns using list of strings 
Auto[["mpg","year"]];

Since we did not specify an *index* column when we loaded our data frame, the rows are labeled using integers
0 to 392.

In [99]:
# look at the data index 
Auto.index

RangeIndex(start=0, stop=392, step=1)

We can use the
`set_index()` method to re-name the rows using the contents of `Auto['name']`.

In [102]:
# set row index using 'name' column
Auto_re = Auto.set_index("name")

In [104]:
# check column names again 
Auto_re.columns
Auto_re

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130,3504,12.0,70,1
buick skylark 320,15.0,8,350.0,165,3693,11.5,70,1
plymouth satellite,18.0,8,318.0,150,3436,11.0,70,1
amc rebel sst,16.0,8,304.0,150,3433,12.0,70,1
ford torino,17.0,8,302.0,140,3449,10.5,70,1
...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86,2790,15.6,82,1
vw pickup,44.0,4,97.0,52,2130,24.6,82,2
dodge rampage,32.0,4,135.0,84,2295,11.6,82,1
ford ranger,28.0,4,120.0,79,2625,18.6,82,1
chevy s-10,31.0,4,119.0,82,2720,19.4,82,1

Now that the index has been set to `name`, we can  access rows of the data 
frame by `name` using the `{loc[]`} method of
`Auto`:

In [105]:
# set rows based on row names 
rows = ["amc rebel sst", "ford torino"]
Auto_re.loc[rows]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
amc rebel sst,16.0,8,304.0,150,3433,12.0,70,1
ford torino,17.0,8,302.0,140,3449,10.5,70,1

As an alternative to using the index name, we could retrieve the 4th and 5th rows of `Auto` using the `{iloc[]`} method:

In [108]:
# use `iloc` method to select rows
Auto_re.iloc[[3,4]]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
amc rebel sst,16.0,8,304.0,150,3433,12.0,70,1
ford torino,17.0,8,302.0,140,3449,10.5,70,1

We can also use it to retrieve the 1st, 3rd and and 4th columns of `Auto_re`:

In [109]:
# use `iloc` method to select columns 
Auto_re.iloc[:, [0,3,4]]

                            mpg  horsepower  weight
name
chevrolet chevelle malibu  18.0         130    3504
buick skylark 320          15.0         165    3693
plymouth satellite         18.0         150    3436
amc rebel sst              16.0         150    3433
ford torino                17.0         140    3449
...                         ...         ...     ...
ford mustang gl            27.0          86    2790
vw pickup                  44.0          52    2130
dodge rampage              32.0          84    2295
ford ranger                28.0          79    2625
chevy s-10                 31.0          82    2720

[392 rows x 3 columns]

We can extract the 4th and 5th rows, as well as the 1st, 3rd and 4th columns, using
a single call to `iloc[]`:

In [110]:
# use `iloc` to select both rows and columns; this wouldn't work in Numpy! 
Auto_re.iloc[[3,4], [0,2,3]]

                mpg  displacement  horsepower
name
amc rebel sst  16.0         304.0         150
ford torino    17.0         302.0         140

Suppose now that we want to create a data frame consisting of the  `weight` and `origin`  of the subset of cars with 
`year` greater than 80 --- i.e. those built after 1980.
To do this, we first create a Boolean array that indexes the rows.
The `loc[]` method allows for Boolean entries as well as strings:

In [111]:
# select rows based on boolean values 
idx_80 = Auto_re['year'] > 80
Auto_re.loc[idx_80, ['weight', 'origin']]

                                   weight  origin
name
plymouth reliant                     2490       1
buick skylark                        2635       1
dodge aries wagon (sw)               2620       1
chevrolet citation                   2725       1
plymouth reliant                     2385       1
toyota starlet                       1755       3
plymouth champ                       1875       1
honda civic 1300                     1760       3
subaru                               2065       3
datsun 210 mpg                       1975       3
toyota tercel                        2050       3
mazda glc 4                          1985       3
plymouth horizon 4                   2215       1
ford escort 4w                       2045       1
ford escort 2h                       2380       1
volkswagen jetta                     2190       2
honda prelude                        2210       3
toyota corolla                       2350       3
datsun 200sx                         2615       3
mazda 626                            2635       3
peugeot 505s turbo diesel            3230       2
volvo diesel                         3160       2
toyota cressida                      2900       3
datsun 810 maxima                    2930       3
buick century                        3415       1
oldsmobile cutlass ls                3725       1
ford granada gl                      3060       1
chrysler lebaron salon               3465       1
chevrolet cavalier                   2605       1
chevrolet cavalier wagon             2640       1
chevrolet cavalier 2-door            2395       1
pontiac j2000 se hatchback           2575       1
dodge aries se                       2525       1
pontiac phoenix                      2735       1
ford fairmont futura                 2865       1
volkswagen rabbit l                  1980       2
mazda glc custom l                   2025       3
mazda glc custom                     1970       3
plymouth horizon miser               2125       1
mercury lynx l                       2125       1
nissan stanza xe                     2160       3
honda accord                         2205       3
toyota corolla                       2245       3
honda civic                          1965       3
honda civic (auto)                   1965       3
datsun 310 gx                        1995       3
buick century limited                2945       1
oldsmobile cutlass ciera (diesel)    3015       1
chrysler lebaron medallion           2585       1
ford granada l                       2835       1
toyota celica gt                     2665       3
dodge charger 2.2                    2370       1
chevrolet camaro                     2950       1
ford mustang gl                      2790       1
vw pickup                            2130       2
dodge rampage                        2295       1
ford ranger                          2625       1
chevy s-10                           2720       1

To do this more concisely, we can use an anonymous function called a `lambda`:

In [112]:
# select rows using `lambda` function 
Auto_re.loc[lambda df: df['year'] > 80, ['weight', 'origin']]

                                   weight  origin
name
plymouth reliant                     2490       1
buick skylark                        2635       1
dodge aries wagon (sw)               2620       1
chevrolet citation                   2725       1
plymouth reliant                     2385       1
toyota starlet                       1755       3
plymouth champ                       1875       1
honda civic 1300                     1760       3
subaru                               2065       3
datsun 210 mpg                       1975       3
toyota tercel                        2050       3
mazda glc 4                          1985       3
plymouth horizon 4                   2215       1
ford escort 4w                       2045       1
ford escort 2h                       2380       1
volkswagen jetta                     2190       2
honda prelude                        2210       3
toyota corolla                       2350       3
datsun 200sx                         2615       3
mazda 626                            2635       3
peugeot 505s turbo diesel            3230       2
volvo diesel                         3160       2
toyota cressida                      2900       3
datsun 810 maxima                    2930       3
buick century                        3415       1
oldsmobile cutlass ls                3725       1
ford granada gl                      3060       1
chrysler lebaron salon               3465       1
chevrolet cavalier                   2605       1
chevrolet cavalier wagon             2640       1
chevrolet cavalier 2-door            2395       1
pontiac j2000 se hatchback           2575       1
dodge aries se                       2525       1
pontiac phoenix                      2735       1
ford fairmont futura                 2865       1
volkswagen rabbit l                  1980       2
mazda glc custom l                   2025       3
mazda glc custom                     1970       3
plymouth horizon miser               2125       1
mercury lynx l                       2125       1
nissan stanza xe                     2160       3
honda accord                         2205       3
toyota corolla                       2245       3
honda civic                          1965       3
honda civic (auto)                   1965       3
datsun 310 gx                        1995       3
buick century limited                2945       1
oldsmobile cutlass ciera (diesel)    3015       1
chrysler lebaron medallion           2585       1
ford granada l                       2835       1
toyota celica gt                     2665       3
dodge charger 2.2                    2370       1
chevrolet camaro                     2950       1
ford mustang gl                      2790       1
vw pickup                            2130       2
dodge rampage                        2295       1
ford ranger                          2625       1
chevy s-10                           2720       1

In summary, a powerful set of operations is available to index the rows and columns of data frames. For integer based queries, use the `iloc[]` method. For string and Boolean
selections, use the `loc[]` method. For functional queries that filter rows, use the `loc[]` method
with a function (typically a `lambda`) in the rows argument.