# Exericse 1: L2 loss

Implement the numpy vectorized version of the L2 loss. There are several way of implementing the L2 loss but you may find the function np.dot() useful. As a reminder, if $x = [x_1, x_2, ..., x_n]$, then `np.dot(x,x)` = $\sum_{j=1}^n x_j^{2}$. 

- L2 loss is defined as $$\begin{align*} & L_2(\hat{y},y) = \sum_{i=0}^{m-1}(y^{(i)} - \hat{y}^{(i)})^2 \end{align*}\tag{7}$$

In [16]:
# NUMPY
import numpy as np
x=np.array([1,2,3])
y=np.array([4,5,6])
np.arange(20)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [10]:
z=np.array([[1,2],[3,4]])
z

array([[1, 2],
       [3, 4]])

In [21]:
z.ndim
z.shape
z.dtype

dtype('int64')

In [14]:
# operations
a=np.array([1,2,3,4])
b=np.array([1,2,3,4])
a+b
a-b

array([0, 0, 0, 0])

In [15]:
a.sum()

10

In [17]:
a=np.array([1,2,3,4,5,6])
a.reshape((2,3))

array([[1, 2, 3],
       [4, 5, 6]])

In [18]:
a.reshape((2,3))[0,0]

1

In [ ]:
a.np.random.normal(size=50)
np.mean(a)
np.var(a)

In [26]:
# slicing and indexing
"Hello World"[3:6]

'lo '

In [30]:
# index rows, columns, submatrices
A=np.arange(16).reshape((4,4))
A[0] # 1st row
A[[2,3]]

array([0, 1, 2, 3])

In [31]:
A[:,[0,2]] # all rows with 1st and 3rd columns

array([[ 0,  2],
       [ 4,  6],
       [ 8, 10],
       [12, 14]])

In [45]:
# indexing submatrices
A[[0,3],[1,3]] # wrong indices

array([ 1, 15])

In [46]:
A[[0,3]][:,[1,3]] # correct symdex

array([[ 1,  3],
       [13, 15]])

In [49]:
idx=np.ix_([0,3],[1,3])
A[idx] # simpler way

array([[ 1,  3],
       [13, 15]])

In [51]:
A[1:4:2,0:3:2] # ?

array([[ 4,  6],
       [12, 14]])

In [54]:
# Boolen indexing
keep_rows=np.zeros(4,bool)
keep_rows

array([False, False, False, False])

In [66]:
keep_rows[[1,3]] = True
keep_rows

array([False,  True, False,  True])

In [57]:
idx_bool=np.ix_(keep_rows,[0,2,3])
A[idx_bool]

array([[ 4,  6,  7],
       [12, 14, 15]])

In [63]:
# PANDAS
import pandas as pd

In [72]:
url='https://raw.githubusercontent.com/intro-stat-learning/ISLP_labs/main/Auto.csv'

In [73]:
auto=pd.read_csv(url)

In [74]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   year          392 non-null    int64
 7   origin        392 non-null    int64
 8   name          392 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 27.7+ KB

In [75]:
auto.stage

AttributeError: 'DataFrame' object has no attribute 'stage'

In [77]:
# selection
auto[:3]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite

In [78]:
# select rows by boolens
idx_80=auto['year'] >80
idx_80
auto[idx_80]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
334,27.2,4,135.0,84,2490,15.7,81,1,plymouth reliant
335,26.6,4,151.0,84,2635,16.4,81,1,buick skylark
336,25.8,4,156.0,92,2620,14.4,81,1,dodge aries wagon (sw)
337,23.5,6,173.0,110,2725,12.6,81,1,chevrolet citation
338,30.0,4,135.0,84,2385,12.9,81,1,plymouth reliant
339,39.1,4,79.0,58,1755,16.9,81,3,toyota starlet
340,39.0,4,86.0,64,1875,16.4,81,1,plymouth champ
341,35.1,4,81.0,60,1760,16.1,81,3,honda civic 1300
342,32.3,4,97.0,67,2065,17.8,81,3,subaru
343,37.0,4,85.0,65,1975,19.4,81,3,datsun 210 mpg
344,37.7,4,89.0,62,2050,17.3,81,3,toyota tercel
345,34.1,4,91.0,68,1985,16.0,81,3,mazda glc 4
346,34.7,4,105.0,63,2215,14.9,81,1,plymouth horizon 4
347,34.4,4,98.0,65,2045,16.2,81,1,ford escort 4w
348,29.9,4,98.0,65,2380,20.7,81,1,ford escort 2h
349,33.0,4,105.0,74,2190,14.2,81,2,volkswagen jetta
350,33.7,4,107.0,75,2210,14.4,81,3,honda prelude
351,32.4,4,108.0,75,2350,16.8,81,3,toyota corolla
352,32.9,4,119.0,100,2615,14.8,81,3,datsun 200sx
353,31.6,4,120.0,74,2635,18.3,81,3,mazda 626
354,28.1,4,141.0,80,3230,20.4,81,2,peugeot 505s turbo diesel
355,30.7,6,145.0,76,3160,19.6,81,2,volvo diesel
356,25.4,6,168.0,116,2900,12.6,81,3,toyota cressida
357,24.2,6,146.0,120,2930,13.8,81,3,datsun 810 maxima
358,22.4,6,231.0,110,3415,15.8,81,1,buick century
359,26.6,8,350.0,105,3725,19.0,81,1,oldsmobile cutlass ls
360,20.2,6,200.0,88,3060,17.1,81,1,ford granada gl
361,17.6,6,225.0,85,3465,16.6,81,1,chrysler lebaron salon
362,28.0,4,112.0,88,2605,19.6,82,1,chevrolet cavalier
363,27.0,4,112.0,88,2640,18.6,82,1,chevrolet cavalier wagon
364,34.0,4,112.0,88,2395,18.0,82,1,chevrolet cavalier 2-door
365,31.0,4,112.0,85,2575,16.2,82,1,pontiac j2000 se hatchback
366,29.0,4,135.0,84,2525,16.0,82,1,dodge aries se
367,27.0,4,151.0,90,2735,18.0,82,1,pontiac phoenix
368,24.0,4,140.0,92,2865,16.4,82,1,ford fairmont futura
369,36.0,4,105.0,74,1980,15.3,82,2,volkswagen rabbit l
370,37.0,4,91.0,68,2025,18.2,82,3,mazda glc custom l
371,31.0,4,91.0,68,1970,17.6,82,3,mazda glc custom
372,38.0,4,105.0,63,2125,14.7,82,1,plymouth horizon miser
373,36.0,4,98.0,70,2125,17.3,82,1,mercury lynx l
374,36.0,4,120.0,88,2160,14.5,82,3,nissan stanza xe
375,36.0,4,107.0,75,2205,14.5,82,3,honda accord
376,34.0,4,108.0,70,2245,16.9,82,3,toyota corolla
377,38.0,4,91.0,67,1965,15.0,82,3,honda civic
378,32.0,4,91.0,67,1965,15.7,82,3,honda civic (auto)
379,38.0,4,91.0,67,1995,16.2,82,3,datsun 310 gx
380,25.0,6,181.0,110,2945,16.4,82,1,buick century limited
381,38.0,6,262.0,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
382,26.0,4,156.0,92,2585,14.5,82,1,chrysler lebaron medallion
383,22.0,6,232.0,112,2835,14.7,82,1,ford granada l
384,32.0,4,144.0,96,2665,13.9,82,3,toyota celica gt
385,36.0,4,135.0,84,2370,13.0,82,1,dodge charger 2.2
386,27.0,4,151.0,90,2950,17.3,82,1,chevrolet camaro
387,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
388,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
389,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
390,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
391,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [79]:
auto[['mpg','year']]; # mutiple colums using

In [84]:
auto_re=auto.set_index("name")

In [85]:
auto_re.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin'],
      dtype='object')

In [86]:
rows=["amc rebel sst","ford torino"]
auto_re.loc[rows]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
amc rebel sst,16.0,8,304.0,150,3433,12.0,70,1
ford torino,17.0,8,302.0,140,3449,10.5,70,1

In [89]:
auto_re.loc([3,4],[0,2,3])

TypeError: __call__() takes from 1 to 2 positional arguments but 3 were given

In [ ]:
auto_re.loc

In [24]:
# GRADED FUNCTION: L2

def L2(yhat, y):
    """
    Arguments:
    yhat -- vector of size m (predicted labels)
    y -- vector of size m (true labels)
    
    Returns:
    loss -- the value of the L2 loss function defined above
    """
    
    #(≈ 1 line of code)
    # loss = ...
    # YOUR CODE STARTS HERE
    loss = ((yhat - y) ** 2).mean()
    
    # YOUR CODE ENDS HERE
    
    return loss

In [52]:
yhat = np.array([.9, 0.2, 0.1, .4, .9])
y = np.array([1, 0, 0, 1, 1])

print("L2 = " + str(L2(yhat, y)))

L2_test(L2)

L2 = 0.086

# Exerciese 2: Calculate Covariance Matrix

Write a Python function that calculates the covariance matrix from a list of vectors. Assume that the input list represents a dataset where each vector is a feature, and vectors are of equal length.

In [ ]:
import numpy as np

def calculate_covariance_matrix(vector):
    """
    Arguements:
    vectors: input vector

    Returns:
    covariance_matrix of the input vector
    """

    return covariance_matrix

In [ ]:
# Test case: Dataset represented as a list of vectors
vectors = [
    [2.1, 2.5, 3.6, 4.0],
    [8.0, 7.5, 6.3, 5.9],
    [1.0, 0.5, 0.8, 1.2]
]

covariance_matrix = calculate_covariance_matrix(vectors)
print("Covariance Matrix:")
print(covariance_matrix)